table{
    width: 100%;
}


table th,td{
    border: 1px;
    /* width: 100px; */
    height: 50px;
}

table tr:nth-child(even){
    background-color: aqua;
}

table th:hover, td:hover{
    background-color: coral;
}

/* table tr th a{
    area
} */

.abc{
    height: 100%;
    width: 100%;
    background-color: none;
}